$success: #0e865a;
$attention: #d2bc2e;
$error: #f85268;

$main-accent: #789AF0;
$main-background: #FBFBFB;
$secondary-background: #EBEBEB;
$common-button-background: #e3e3e3;
$common-button-foreground: #666666;
$common-button-active-background: #c3c3c3;
$selected-button-background: #f1f4fd;
$selected-button-active-background: #e1e9ff;
$main-shadow-color: #00000066;
$animation-time: .2s;
$scale-size: 1.1;
$disable-opacity: .5;
